.movie-details {
  position: relative;
  width: 100%;
  height: 80vh;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  color: variables.$color-tertiary;
  background-color: #111;
  box-shadow: variables.$box-shadow-primary;
}

.movie-details__backdrop-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent 70%);
  z-index: 1;
}

.movie-details__backdrop {
  position: absolute;
  inset: 0;
  z-index: 0;
  img {
    object-fit: cover;
    filter: blur(3px);
    opacity: 0.5;
  }
}

.movie-details__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: functions.fluid(10px, 40px);
  padding: functions.fluid(10px, 40px);
  align-items: flex-start;
}

.movie-details__poster {
  width: 20%;

  img {
    border-radius: 12px;
    box-shadow: variables.$box-shadow-secondary;
    width: functions.fluid(100px, 200px);
    height: auto;
  }
}

.movie-details__info {
  width: 70%;
}

.movie-details__title {
  font-size: functions.fluid(30px, 50px);
  font-weight: bold;
  margin-bottom: functions.fluid(10px, 20px);
  color: #fff;
  margin-right: 20px;
}

.movie-details__overview {
  font-size: functions.fluid(16px, 20px);
  line-height: 1.6;
  margin-bottom: 20px;
}

.movie-details__genres {
  display: flex;
  font-size: functions.fluid(16px, 20px);
  margin-bottom: functions.fluid(10px, 50px);
  div {
    margin-right: 10px;
  }
}

.movie-details__close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 10;
  button {
    cursor: pointer;
    width: functions.fluid(30px, 40px);
    height: functions.fluid(30px, 40px);
    border-radius: 50%;
    border: none;
  }
}

.movie-details__title-wrapper {
  display: flex;
}

.movie-details__original-country {
  display: flex;
}

.movie-details__original-country-name {
  margin-right: 10px;
}

.movie-details__original-country-image {
  display: flex;
  align-items: center;
}

.movie-details__runtime,
.movie-details__original-country,
.movie-details__vote-average {
  margin-top: 10px;
  font-size: 16px;
}

.movie-details__vote-average {
  margin-top: functions.fluid(10px, 20px);
}

.movie-details__casts {
  display: flex;
  flex-wrap: wrap;
  div {
    font-size: functions.fluid(16px, 20px);
    margin-right: 10px;
  }
}

@include mixins.mq-mobile {
  .movie-details__info {
    width: 100%;
  }

  .movie-details__content {
    display: flex;
    flex-direction: column;
  }

  .movie-details__poster {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .movie-details__details-wrapper {
    margin-left: 10px;
  }
}
