.popular-movies__wrapper {
  display: flex;
}

.popular-movies__title {
  margin-bottom: 10px;
}

.popular-movies__genre-title {
  color: #fff;
  font-size: 30px;
  margin: 0 0 20px 20px;
}

.popular-movies__slider {
  width: 90%;
  margin: 0 auto;
  position: relative;

  :global(.swiper-slide) {
    height: unset;
    z-index: 300;
    padding: 20px 10px;
  }
}

.popular-movies__genre-wrapper {
  position: relative;
  margin: 40px 0;
}

.popular-movies__button-preview,
.popular-movies__button-next {
  background-color: transparent;
  background-color: variables.$color-secondary;
  border-radius: 50%;
  button {
    border-radius: 50%;
    margin: 0px;
    border: none;
    cursor: pointer;
  }
}

.popular-movies__button-preview {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: rotate(180deg);
}

.popular-movies__button-next {
  position: absolute;
  right: 0px;
  top: 50%;
}

@include mixins.mq-tablet-and-mobile {
  .popular-movies__button-preview {
    margin-right: 20px;
  }

  .popular-movies__button-preview,
  .popular-movies__button-next {
    position: relative;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    img,
    button {
      width: 40px;
      height: 40px;
    }
  }

  .popular-movies__buttons-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .popular-movies__buttons {
    display: flex;
  }
}
