$color-primary: #06b4e2;
$color-secondary: #888888;
$color-tertiary: #ffffff;

$box-shadow-primary: 1px -3px 111px 10px rgba(255, 255, 255, 0.8);
$box-shadow-secondary: 1px -2px 60px 0px rgba(255, 255, 255, 0.4);
