:root {
  --navigation-height: 50px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.navigation-wrapper {
  position: fixed;
  width: 100%;
}

.children-wrapper {
  margin-top: var(--navigation-height);
  overflow-y: auto;
  height: calc(100vh - var(--navigation-height));
}
