.most-watched-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
}

.most-watched-list__movie-card {
  position: relative;
  margin: 20px;
  padding: 10px;
  min-width: calc(100% / 5 - 40px);
}

.most-watched-list__no-movies {
  margin-top: 40px;
}

@include mq-tablet-and-mobile {
  .most-watched-list {
    width: 100%;
  }

  .most-watched-list__movie-card {
    margin: 0;
    min-width: calc(100% / 3 - 40px);
  }
}

@include mq-mobile {
  .most-watched-list__movie-card {
    min-width: calc(100% / 2 - 40px);
  }
}
