.most-watched-list {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.most-watched-list__movie-card {
  position: relative;
  margin: 20px;
  padding: 10px;
  min-width: calc(100% / 6 - 40px);
}
