.newest-movies__wrapper {
  display: flex;
  flex-wrap: wrap;
}
.newest-movies__title {
  margin-bottom: 20px;
}

.newest-movies__movie {
  width: calc(100% / 6 - 10px);
  margin: 0px 10px 10px 0px;
}

@include mixins.mq-tablet-and-mobile {
  .newest-movies__movie {
    width: calc(100% / 4 - 10px);
  }
}

@include mixins.mq-mobile {
  .newest-movies__movie {
    width: calc(100% / 2 - 10px);
  }
}
