.top-rated-movie {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  box-shadow: variables.$box-shadow-secondary;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  color: #d3d3d3;
  border-radius: 20px;
}

.top-rated-movie:hover {
  transform: scale(1.03);
}

.top-rated-movie__title {
  font-size: functions.fluid(20px, 30px);
  font-weight: 800;
  max-width: 90%;
  margin-bottom: functions.fluid(10px, 20px);
}

.top-rated-movie__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.top-rated-movie__wrapper {
  padding: functions.fluid(10px, 20px);
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(20, 20, 20, 1) 73%,
    rgba(0, 0, 0, 0.1)
  );
  border-radius: 0 0 20px 20px;
  position: absolute;
}

.top-rated-movie__backdrop {
  width: 100%;
  z-index: 0;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.top-rated-movie__favorite-movie {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
}

.top-rated-movie__overview {
  font-size: functions.fluid(14px, 20px);
}
